<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Courses Shop</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/" class="{{#if isHome}}active{{/if}}">Home</a></li>
        <li><a href="/courses" class="{{#if isCourses}}active{{/if}}">Courses</a></li>
        <li><a href="/add" class="{{#if isAdd}}active{{/if}}">Add course</a></li>
      </ul>
    </div>
</nav>